.wiki-wrapper {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 62px;
    height: 100%;
  
    text-align: center;
    vertical-align: middle;
    color: green;
    
    /*display: flex;
    align-items: flex-start;
    flex-direction: column;*/
}

.wrapper {
    width: 80%;
    height: 100%;
    position: relative;
    
    left: 10%;
    top: 70px;
  
    background: #FFFFFF;
    border-radius: 10px;
  
  }