.auth-form {
    color: black;
    width: 60%;
    height: 35%;
    position: relative;
    top: 20px;
    margin: 0 auto;
    background-color:lightseagreen;
    border-radius: 20px;
}

.login-input {
    top: 200px;
    width: 80%;
    height: 60px;
    /*background: blue;*/
    margin: 0 auto;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
}

.login-input input{
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    left:30px;
    top: 30px;
}


.password-input {
    position: relative;
    top: 50px;
    width: 80%;
    height: 60px;
    /*background: blue;*/
    margin: 0 auto;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
}

.password-input label{
    width: 30%;
    position: relative;
    display: inline-block;
}

.login-input label{
    position: relative;
    top: 30px;
    display: inline-block;
    width: 30%;
}

.password-input input{
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
    width: 60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    left:30px;
}



.login-button {
    cursor: pointer;
    position: relative;
    top: 100px;
    left: 34%;
    width: 250px;
    height: 66px;

    text-align: center;
    color: #FFFFFF;
    background: #777CF7;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
}

.wrapper {
    width: 80%;
    height: 100vh;
    
    position: relative;
    
    left: 10%;
    top: 70px;
    
  
    background: #FFFFFF;
    border-radius: 10px;
    
  }