header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #4542C2;
  z-index: 1;
}

body {
  margin: 0;
  background: #E7E7E7;
  /*verflow-y: hidden;*/
}

.room-number {
  position: absolute;
  width: 228px;
  height: 99px;
  left: 29px;
  top: 6px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  cursor: pointer;
  color: #FFFFFF;

}

.menu-button {
  width: 195px;
  height: 62px;

  background: #DC326F;
  border-radius: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 62px;
  
  text-align: center;
  vertical-align: middle;
  color: #E7E7E7;
  cursor: pointer;
}

.active-menu-button {
  width: 195px;
  height: 62px;

  background: green;
  border-radius: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 62px;
  
  text-align: center;
  vertical-align: middle;
  color: #E7E7E7;
  cursor: pointer;
}

.aut-button {
  width: 195px;
  height: 62px;

  background: #DC326F;
  border-radius: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 62px;
  
  text-align: center;
  vertical-align: middle;
  color: #E7E7E7;

}

.menu {
  
  height: 100%;
}

.submenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 80%;
  position: relative;
  left: 20%;
}

